@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #ffffff;
    overflow: auto;
    overflow-x: hidden !important;
}

/*
 *  Toast
 */

.p-toast.p-component {
    font-family: inherit !important;
}

.p-toast .p-toast-message {
    box-shadow: none;
    border-radius: 0.75rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: 0 !important;
}

/*
 *  Comments
 */

.comments > ul > li {
    margin-bottom: 1.5rem;
}

.comments > ul ul li {
    margin-top: 0.5rem;
    padding-left: 4rem;
}

.comments ul li > div {
    padding: 1rem;
}